<% layout('./layout_home') -%>

<style>
html, body {
    height: 100%;
    width: 100%;
}
body {
    background-image: url('/images/bg_home.jpg');
    background-size: 100% 100%;
}

div.info {
    background-color: #333;
    color: #eee;
    padding: 2em;
    margin-top: 2em;
}
</style>

<div class='info pull-right clearfix'>
    <h1>Senior OS</h1>

    <p class='lead'>
    Por fin, un teléfono sencillo diseñado
    para nuestros mayores.
    </p>

    <a href="/login" class="btn btn-sup btn-lg btn-material-pink btn-raised">
        <span>Acceder</span>
    </a>
</div>
