<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Senior</title>

    <script src='/bower_components/jquery/dist/jquery.min.js'></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <link href="/bower_components/bootstrap-material-design/dist/css/roboto.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap-material-design/dist/css/material.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>
    <% include partials/navbar %>

    <div class='container-fluid'>
        <% include partials/flash %>
        <%- body %>
    </div>

    <footer>
      <div class="container">
        <div class="row">
            <br>·<br>
            Senior OS · Hack For Good 2015 · Valladolid
        </div>
      </div>
    </footer>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="/bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
    <script src="/bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
    <script>
        $(document).ready(function() {
            $.material.init();
        });
    </script>
</body>
</html>
